<md-card>
  <md-card-content>
    <div [ngSwitch]="certificateGeneratedE && certificateGeneratedS" fxLayout="row" fxLayoutAlign="center">
      <div *ngSwitchCase="false">
        <!-- Certificate generation in progress -->
        <h2>Generating and signing your certificate</h2>
        <div fxLayout="row" fxLayoutAlign="center">
          <md-progress-spinner mode="indeterminate"></md-progress-spinner>
        </div>
      </div>
      <div *ngSwitchCase="true" class="full-width">
        <div [ngSwitch]="passwordEntered" class="full-width">
          <div *ngSwitchCase="false">
            <h2>This password is used for encryption of your private key.
              We do not keep this password in the database. You must not lose this password!!!</h2>
            <ideal-security-form-encryption-password buttonText="Enter" (passwordReady)="passwordReady($event)">
            </ideal-security-form-encryption-password>
          </div>
          <div *ngSwitchCase="true" class="full-width">
            <div [ngSwitch]="saveDecision" class="full-width">
              <div *ngSwitchCase="false">
                <h3>
                  Do you want to save your private key encrypted with the password you entered in our database?
                </h3>
                <md-radio-group [(ngModel)]="savePrivateKey"
                                style="display: inline-flex; flex-direction: column;">
                  <md-radio-button *ngFor="let answer of ['YES', 'NO']" [value]="answer">
                    {{answer}}
                  </md-radio-button>
                </md-radio-group>
                <div class="padding-top">
                  <button class="full-width" color="primary" type="button" md-raised-button
                          (click)="saveDecisionMade()">
                    Continue
                  </button>
                </div>
              </div>
              <div class="full-width" *ngSwitchCase="true">
                <ideal-security-profile-fields-tabs [certificateEPEM]="pemCertificateE"
                                                    [certificateSPEM]="pemCertificateS"
                                                    [certificationRequestEPEM]="pemCertificationRequestE"
                                                    [certificationRequestSPEM]="pemCertificationRequestS"
                                                    [privateKeyEEncrypted]="privateKeyEEncrypted"
                                                    [privateKeySEncrypted]="privateKeySEncrypted">

                </ideal-security-profile-fields-tabs>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
