mat-icon {
  opacity: 0.54;
}

.activeLink mat-icon {
  opacity: 0.87 !important;
}

mat-sidenav {
  width: 250px;
}

.mat-elevation-z4 {
  position: relative;
  z-index: 2;
}

:host mat-sidenav-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
}
