<md-sidenav-container>
  <md-sidenav mode="over" #sidenav>
    <md-toolbar color="primary">
      <ideal-authenticated-user-named-avatar (click)="sidenav.toggle()" [routerLink]="['/users', 'me']"
                                             style="margin-top: 60px; cursor: pointer;" [profilePictureRadius]="25"
                                             nameFontSize="10pt"
                                             descriptionFontSize="8pt"></ideal-authenticated-user-named-avatar>
      <md-toolbar-row>
      </md-toolbar-row>
    </md-toolbar>
    <md-nav-list denese>
      <div *ngFor="let navigationItemGroup of navigation">
        <md-divider *ngIf="navigationItemGroup.divider"></md-divider>
        <h3 md-subheader>{{navigationItemGroup.name}}</h3>
        <md-list-item *ngFor="let navigationItem of navigationItemGroup.items"
                      (click)="sidenav.toggle()"
                      [routerLink]="navigationItem.url" routerLinkActive="activeLink primary">
          <md-icon class="icon-middle" [ngStyle]="{'color': navigationItem.color}" md-list-avatar>
            {{navigationItem.icon}}
          </md-icon>
          <h4 style="position: relative" md-line>
            {{navigationItem.title}}
            <label ideal-raised-label *ngIf="navigationItem.title == 'Notifications' && numberOfNotifications > 0"
                   color="primary"
                   [text]="numberOfNotifications + ' New'" ideal-badge position="right"></label>
          </h4>
        </md-list-item>
      </div>
    </md-nav-list>
  </md-sidenav>
  <div style="height: 100vh !important;" fxLayout="column">
    <nav class="mat-elevation-z4">
      <ideal-navbar [numberOfNotifications]="numberOfNotifications" (sideNavToggle)="sidenav.toggle()"
                    (search)="onSearch($event)"></ideal-navbar>
    </nav>
    <div>
      <md-progress-bar
        style="position: absolute; z-index: 100; clear: none"
        *ngIf="loadingState"
        [value]="loadingState?.value"
        [bufferValue]="loadingState?.bufferValue"
        color="accent"
        [mode]="loadingState?.mode">
      </md-progress-bar>
    </div>
    <div fxFlex fxFlexFill style="overflow: auto"
         class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         (scrolled)="onScroll()"
         [scrollWindow]="false"
         >
      <div [@routerAnimations]="prepareRouteTransition(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-container>
