.activeLink {
  background: rgba(100, 100, 255, 0.2);
}

md-sidenav {
  width: 250px;
}

.icon-middle {
  margin-top: 15px;
}

.mat-elevation-z4 {
  position: relative;
  z-index: 2;
}

.numberOfNotifications {
  font-weight: bold;
}

.numberOfNotifications {
  font-weight: bold;
}
