.activeLink {
  background: rgba(100, 100, 255, 0.2);
}

md-sidenav {
  width: 250px;
}

.mat-elevation-z4 {
  position: relative;
  z-index: 2;
}

:host md-sidenav-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
}
