<md-sidenav-layout style="height: 100vh">
  <md-sidenav mode="over" #sidenav>
    <md-toolbar color="primary">
      <img width="50" height="50" src="/assets/images/logo.png">
      <md-toolbar-row>
        Guest Guest
      </md-toolbar-row>
    </md-toolbar>
    <md-nav-list denese>
      <a md-list-item [routerLink]="[ '/home' ]" routerLinkActive="activeLink">Home</a>
      <a md-list-item [routerLink]="[ '/ideas' ]" routerLinkActive="activeLink">Ideas</a>
      <a md-list-item  [routerLink]="[ '/ideas/new' ]" routerLinkActive="activeLink">> Create Idea</a>
      <a md-list-item [routerLink]="[ '/about' ]" routerLinkActive="activeLink">About</a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="sd-toolbar-icon">menu</md-icon>
    </button>
    <span class="flex"></span>
    <button md-icon-button (click)="openSearch()">
      <md-icon class="sd-toolbar-icon">search</md-icon>
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>
