<ideal-user-details [user]="user"></ideal-user-details>
<md-tab-group>
  <md-tab label="Feed">
    <ideal-announcement-list-loader [ownerId]="user.id"></ideal-announcement-list-loader>
  </md-tab>
  <md-tab label="Ideas">
    <ideal-idea-list-loader [ownerId]="user.id"
                     (ideaOwnerSelected)="goToUserDetails($event)"
                     (ideaProblemSelected)="goToProblemDetails($event)"
                     (ideaSelected)="goToIdeaDetails($event)"
                     (announce)="announce($event)"
                     (sendTo)="sendTo($event)"
                     (share)="share($event)"
                     (edit)="edit($event)"
                     (report)="report($event)"
                     (ban)="ban($event)"></ideal-idea-list-loader>
  </md-tab>
  <md-tab label="Problems">
    <ideal-problem-list-loader [questionerId]="user.id"></ideal-problem-list-loader>
  </md-tab>
  <md-tab label="Organizations">

    <h1>Organizations</h1>
  </md-tab>
</md-tab-group>
