<mat-card>
  <mat-card-header>
    <img (click)="onQuestionerSelected()" [src]="problem?.questioner | idealUserProfilePicture" mat-card-avatar/>
    <mat-card-title>
      <strong idealColor="accent" (click)="onQuestionerUserSelected()">
        {{problem?.questioner?.firstName}} {{problem?.questioner?.lastName}}
      </strong>
      <div *ngIf="problem?.questioner?.type == 'Member'">
        from
        <strong idealColor="accent" (click)="onQuestionerOrganizationSelected()">
          {{problem?.questioner?.organization.name}}
        </strong>
      </div>
      announced problem
    </mat-card-title>
    <mat-card-subtitle>{{problem?.creationDate | amTimeAgo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content (click)="getContent()">
    <mat-card-title-group>
      <mat-card-title>{{problem?.title}}</mat-card-title>
      <mat-card-subtitle>{{problem?.text | slice:0:180}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row">
      <div fxFlex="none">
        <button mat-icon-button matTooltipPosition="above" *ngFor="let action of actions?.mainActions"
                (click)="onAction(action)"
                [idealColor]="action.color"
                [matTooltip]="action.title">
          <mat-icon class="icon-20">{{action.icon}}</mat-icon>
        </button>
      </div>
      <div fxFlex></div>
      <div fxFlex="none">
        <button [matMenuTriggerFor]="appMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item *ngFor="let action of actions?.menuActions" (click)="onAction(action)"
                  [idealColor]="action.color"
                  [matTooltip]="action.description" matTooltipPosition="left">
            <mat-icon class="icon-20">{{action.icon}}</mat-icon>
            <span>{{action.title}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
