<div [ngSwitch]="searchable?.type">
  <ideal-announcement-card
    *ngSwitchCase="'Announcement'"
    [announcement]="searchable"
    (openContent)="onAnnouncementSelected($event)"
    (userSelected)="onUserSelected($event)"
    (ideaSelected)="onIdeaSelected($event)"
    (problemSelected)="onProblemSelected($event)"
    (ideaEdit)="onIdeaEdit($event)"
    (announce)="onAnnounce($event)"
    (ban)="onBan($event)"
    (edit)="onIdeaEdit($event)"
    (remove)="onRemove($event)"
    (report)="onReport($event)"
    (sendTo)="onSendTo($event)"
    (share)="onShare($event)"></ideal-announcement-card>
  <div *ngSwitchCase="'User'">
    <ideal-user-card
      [user]="searchable"
      (contentSelected)="onUserSelected($event)"></ideal-user-card>
  </div>
  <div *ngSwitchCase="'Organization'">
    {{searchable | json}}
  </div>
</div>
