<h2 mat-dialog-title>
  Select your image
</h2>
<form novalidate (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-form-field style="min-width: 250px;">
      <input name="imageUrl" matInput placeholder="Place image url here" [(ngModel)]="imageUrl"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button type="button" (click)="cancel()" color="primary">CANCEL</button>
    <button mat-button type="submit" color="primary">OK</button>
  </div>
</form>
