<button class="space-around" color="accent" md-raised-button type="button" [routerLink]="[ '/ideas/new' ]">Create New Idea</button> <br/>
<button class="space-around" md-raised-button type="button" [routerLink]="[ '/ideas' ]">Find Idea</button> <br />
<button class="space-around" md-raised-button type="button" [routerLink]="[ '/problems/new' ]">Ask for Solution</button> <br />
<button class="space-around" md-raised-button type="button" [routerLink]="[ '/problems' ]">Find Problem</button> <br />
