<div fxLayout="row" fxLayoutGap="1%" style="margin: 10px">
    <div fxFlex="55%" *ngIf="finishInitializing">
        <h3 *ngIf="protocolSession.aborted">Protocol aborted</h3>
        <div fxLayout="column" fxLayoutGap="1%" *ngIf="!protocolSession.aborted">
            <div fxFlex="none" *ngIf="currentStepNotice?.type !== 'ProtocolTransactionStepSevenNotice'">
                <div fxFlex *ngIf="paymentType == PaymentType.Money">
                    <ideal-money-type-protocol-transaction [currentStepNotice]="currentStepNotice"
                                                           [lastPrice]="lastPayment"
                                                           (dataReady)="ready($event)" (abort)="abort()">

                    </ideal-money-type-protocol-transaction>
                </div>
                <div fxFlex *ngIf="paymentType == PaymentType.Contract">
                    <ideal-contract-type-protocol-transaction [currentStepNotice]="currentStepNotice"
                                                              [lastContract]="lastPayment"
                                                              (dataReady)="ready($event)" (abort)="abort()">

                    </ideal-contract-type-protocol-transaction>
                </div>
            </div>
            <div fxFlex="none" *ngIf="currentStepNotice?.type == 'ProtocolTransactionStepSevenNotice'">
                <ideal-protocol-transaction-finished [goodsId]="previousNoticesData['ProtocolTransactionStepSevenData'].goodsId"
                                                     [outcome]="previousNoticesData['ProtocolTransactionStepSevenData'].outcome"
                                                     [owner]="getAuthenticatedUserEmail() == protocolSession.digitalGoods.owner.email">

                </ideal-protocol-transaction-finished>
            </div>
            <div fxFlex>
                <ideal-protocol-transaction-history [previousNotices]="previousNotices"
                                                    [authenticatedUserEmail]="getAuthenticatedUserEmail()">
                </ideal-protocol-transaction-history>
            </div>
        </div>
    </div>
    <div fxFlex="44%">
        <ideal-idea-details [idea]="protocolSession.digitalGoods"></ideal-idea-details>
    </div>
</div>
