<ideal-searchable-list [searchableList]="results"
                       (announcementSelected)="onAnnouncementSelected($event)"
                       (userSelected)="onUserSelected($event)"
                       (ideaSelected)="onIdeaSelected($event)"
                       (problemSelected)="onProblemSelected($event)"
                       (ideaEdit)="onIdeaEdit($event)"
                       (announce)="onAnnounce($event)"
                       (ban)="onBan($event)"
                       (edit)="onIdeaEdit($event)"
                       (remove)="onRemove($event)"
                       (report)="onReport($event)"
                       (sendTo)="sendTo($event)"
                       (share)="share($event)"></ideal-searchable-list>
<div *ngIf="noMoreResults" class="padding" style="text-align: center">
  <button md-raised-button disabled>No More Results</button>
</div>
