<mat-form-field class="example-chip-list" style="width: 100%">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of value"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(chip)">
      {{chip}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      (focus)="onInputFocused()"
      [placeholder]="searchPlaceholder"
      #keywordInput
      [formControl]="inputCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="false"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let keyword of filteredKeywords" [value]="keyword.phrase">
      {{keyword.phrase}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint>{{hint}}</mat-hint>
</mat-form-field>

