<ideal-keyword-search [hint]="hint" (inputFocused)="onInputFocused()" [searchPlaceholder]="searchPlaceholder" [keywords]="suggestedKeywords" [clearAfterSelect]="true" (keywordSelected)="onKeywordSelected($event)" [stopKeywords]="value"></ideal-keyword-search>
<mat-chip-list>
  <div *ngFor="let keyword of value; let i = index" class="margin-bottom">
    <mat-chip
      color="primary"
      selected="true">
      {{keyword}}
      <button type="button" (click)="remove(keyword, i)" mat-icon-button class="chip-button">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-chip>
  </div>
</mat-chip-list>
