<ideal-problem-details [problem]="idea?.problem"></ideal-problem-details>
<md-card class="margin-top">
  <md-card-content>
    <ideal-user-named-avatar [alignment]="ownerAvatarAlignment" [(ngModel)]="idea.owner"
                             [profilePictureRadius]="25"></ideal-user-named-avatar>
    <h1>{{idea?.title}}</h1>
    <div>
      {{idea?.snackPeak}}
    </div>
    <div>
      <span *ngFor="let doc of docs"><a [href]="'https://en.wikipedia.org/wiki/' + getWikiName(doc.title)" target="_blank">{{doc.title}}</a>,&nbsp;</span>
    </div>
  </md-card-content>
</md-card>
