<div [formGroup]="form" fxLayout="column">
    <div formGroupName="passwords">
        <md-input-container [dividerColor]="formErrors['passwords.password'] ? 'warn' : 'primary'" class="full-width">
            <input type="password" md-input mdInput formControlName="password" placeholder="Password"
                   (focus)="showPasswordStrength()" (blur)="hidePasswordStrength()"
                   md-tooltip="For strong password use at least 1 (big/small/special) character, and 1 number"
                   required/>
            <md-hint idealColor="warn" *ngIf="formErrors['passwords.password']" align="end">{{formErrors['passwords.password']}}</md-hint>
        </md-input-container>
        <div *ngIf="passwordStrengthVisible" class="margin-top margin-bottom">
            <md-progress-bar
                    [md-tooltip]="'Password strength: ' + passwordStrength"
                    [color]="passwordStrengthColor"
                    [value]="passwordStrengthProgress">
            </md-progress-bar>
        </div>
        <div>
            <md-input-container [dividerColor]="formErrors.passwords ? 'warn' : 'primary'" class="full-width">
                <input md-input mdInput type="password" formControlName="confirmPassword"
                       placeholder="Confirm Password" required/>
                <md-hint align="end" idealColor="warn" *ngIf="formErrors.passwords">{{formErrors.passwords}}</md-hint>
            </md-input-container>
        </div>
    </div>
</div>
