<div [formGroup]="form" fxLayout="column">
    <div formGroupName="passwords">
        <mat-input-container [dividerColor]="formErrors['passwords.password'] ? 'warn' : 'primary'" class="full-width">
            <input type="password" mat-input matInput formControlName="password" placeholder="Password"
                   (focus)="showPasswordStrength()" (blur)="hidePasswordStrength()"
                   matTooltip="For strong password use at least 1 (big/small/special) character, and 1 number"
                   required/>
            <mat-hint idealColor="warn" *ngIf="formErrors['passwords.password']" align="end">{{formErrors['passwords.password']}}</mat-hint>
        </mat-input-container>
        <div *ngIf="passwordStrengthVisible" class="margin-top margin-bottom">
            <mat-progress-bar
                    [matTooltip]="'Password strength: ' + passwordStrength"
                    [color]="passwordStrengthColor"
                    [value]="passwordStrengthProgress">
            </mat-progress-bar>
        </div>
        <div>
            <mat-input-container [dividerColor]="formErrors.passwords ? 'warn' : 'primary'" class="full-width">
                <input mat-input matInput type="password" formControlName="confirmPassword"
                       placeholder="Confirm Password" required/>
                <mat-hint align="end" idealColor="warn" *ngIf="formErrors.passwords">{{formErrors.passwords}}</mat-hint>
            </mat-input-container>
        </div>
    </div>
</div>
