<md-sidenav-layout style="margin: 0px !important; padding: 0px !important; height: 100vh">
  <md-sidenav mode="over" #sidenav>
    <md-toolbar color="primary">
      <ideal-authenticated-user-named-avatar (click)="sidenav.toggle()" [routerLink]="['/users', 'me']" style="margin-top: 60px" [profilePictureRadius]="25" nameFontSize="10pt"
                                             descriptionFontSize="8pt"></ideal-authenticated-user-named-avatar>
      <md-toolbar-row>
      </md-toolbar-row>
    </md-toolbar>
    <md-nav-list denese>
      <md-list-item *ngFor="let navigationItem of navigationItems" (click)="sidenav.toggle()" [routerLink]="navigationItem.url" routerLinkActive="md-accent">
        <md-icon class="icon-middle" md-list-avatar>{{navigationItem.icon}}</md-icon>
        <span>{{navigationItem.title}}</span>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="sd-toolbar-icon">menu</md-icon>
    </button>
    &nbsp;iDeal-Hub
    <span class="flex"></span>
    <button md-icon-button (click)="openSearch()">
      <md-icon class="sd-toolbar-icon">search</md-icon>
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>
