<div [formGroup]="form" fxLayout="column">
  <div fxLayout="row">
    <div *ngIf="lastPrice" align="left">
      <label>Last Price:</label>
      <h3>{{lastPrice.value}} {{lastPrice.currency.value}}</h3>
    </div>
    <div *ngIf="currentPrice" align="right">
      <label>Current Price:</label>
      <h3>{{currentPrice.value}} {{currentPrice.currency.value}}</h3>
    </div>
  </div>
  <div fxLayout="row">
    <mat-input-container [dividerColor]="formErrors.price ? 'warn' : 'primary'" fxFlex="80%">
      <input matInput type="number" formControlName="price" placeholder="Price" required/>
      <mat-hint idealColor="warn" *ngIf="formErrors.price" align="end">{{formErrors.price}}</mat-hint>
    </mat-input-container>
    <ideal-currency-select formControlName="currency" placeholder="Currency" fxFlex="20%"></ideal-currency-select>
  </div>
</div>
