<div style="background: rgba(0,0,0,0.05) !important;">
  <div class="flex-container idea-padding " fxLayout="row" fxLayoutWrap="wrap">
    <md-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #formatGroup="mdButtonToggleGroup">
      <md-button-toggle value="bold">
        <md-icon class="icon-20">format_bold</md-icon>
      </md-button-toggle>
      <md-button-toggle value="italict">
        <md-icon class="icon-20">format_italic</md-icon>
      </md-button-toggle>
      <md-button-toggle value="underline">
        <md-icon class="icon-20">format_underline</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>

    <md-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" #alignmentGroup="mdButtonToggleGroup">
      <md-button-toggle value="left">
        <md-icon class="icon-20">format_align_left</md-icon>
      </md-button-toggle>
      <md-button-toggle value="center">
        <md-icon class="icon-20">format_align_center</md-icon>
      </md-button-toggle>
      <md-button-toggle value="right">
        <md-icon class="icon-20">format_align_right</md-icon>
      </md-button-toggle>
      <md-button-toggle value="justify">
        <md-icon class="icon-20">format_align_justify</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>

    <md-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #listsGroup="mdButtonToggleGroup">
      <md-button-toggle value="numbered">
        <md-icon class="icon-20">format_list_numbered</md-icon>
      </md-button-toggle>
      <md-button-toggle value="bulleted">
        <md-icon class="icon-20">format_list_bulleted</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>

    <md-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #undoGroup="mdButtonToggleGroup">
      <md-button-toggle value="undo">
        <md-icon class="icon-20">undo</md-icon>
      </md-button-toggle>
      <md-button-toggle value="redo">
        <md-icon class="icon-20">redo</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>

    <md-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #otherGroup="mdButtonToggleGroup">
      <md-button-toggle value="link">
        <md-icon class="icon-20">insert_link</md-icon>
      </md-button-toggle>
      <md-button-toggle value="quote">
        <md-icon class="icon-20">format_quote</md-icon>
      </md-button-toggle>
      <md-button-toggle value="code">
        <md-icon class="icon-20">code</md-icon>
      </md-button-toggle>
      <md-button-toggle value="insert_photo">
        <md-icon class="icon-20">insert_photo</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>

  <md-tab-group *ngIf="false" [selectedIndex]="selectedTab">

    <md-tab label="Styles">
      <div class="margin">
        <md-button-toggle-group class="flex-item" fxFlex="none" multiple #formatGroup="mdButtonToggleGroup">
          <md-button-toggle value="bold">
            <md-icon class="icon-20">format_bold</md-icon>
          </md-button-toggle>
          <md-button-toggle value="italict">
            <md-icon class="icon-20">format_italic</md-icon>
          </md-button-toggle>
          <md-button-toggle value="underline">
            <md-icon class="icon-20">format_underline</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </md-tab>

    <md-tab label="Alignment">
      <div class="margin">
        <md-button-toggle-group class="flex-item" fxFlex="none" #alignmentGroup="mdButtonToggleGroup">
          <md-button-toggle value="left">
            <md-icon class="icon-20">format_align_left</md-icon>
          </md-button-toggle>
          <md-button-toggle value="center">
            <md-icon class="icon-20">format_align_center</md-icon>
          </md-button-toggle>
          <md-button-toggle value="right">
            <md-icon class="icon-20">format_align_right</md-icon>
          </md-button-toggle>
          <md-button-toggle value="justify">
            <md-icon class="icon-20">format_align_justify</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </md-tab>

    <md-tab label="Lists">
      <div class="margin">
        <md-button-toggle-group class="flex-item" fxFlex="none" multiple #listsGroup="mdButtonToggleGroup">
          <md-button-toggle value="numbered">
            <md-icon class="icon-20">format_list_numbered</md-icon>
          </md-button-toggle>
          <md-button-toggle value="bulleted">
            <md-icon class="icon-20">format_list_bulleted</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>

        <md-button-toggle-group class="flex-item" fxFlex="none" multiple #undoGroup="mdButtonToggleGroup">
          <md-button-toggle value="undo">
            <md-icon class="icon-20">undo</md-icon>
          </md-button-toggle>
          <md-button-toggle value="redo">
            <md-icon class="icon-20">redo</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </md-tab>

    <md-tab label="Tools">
      <div class="margin">
        <md-button-toggle-group class="flex-item" fxFlex="none" multiple #otherGroup="mdButtonToggleGroup">
          <md-button-toggle value="link">
            <md-icon class="icon-20">insert_link</md-icon>
          </md-button-toggle>
          <md-button-toggle value="quote">
            <md-icon class="icon-20">format_quote</md-icon>
          </md-button-toggle>
          <md-button-toggle value="code">
            <md-icon class="icon-20">code</md-icon>
          </md-button-toggle>
          <md-button-toggle value="insert_photo">
            <md-icon class="icon-20">insert_photo</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </md-tab>

  </md-tab-group>
</div>
