<div style="background: rgba(0,0,0,0.05) !important;">
  <div class="flex-container idea-padding " fxLayout="row" fxLayoutWrap="wrap">
    <mat-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #formatGroup="matButtonToggleGroup">
      <mat-button-toggle value="bold">
        <mat-icon class="icon-20">format_bold</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="italict">
        <mat-icon class="icon-20">format_italic</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="underline">
        <mat-icon class="icon-20">format_underline</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" #alignmentGroup="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon class="icon-20">format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon class="icon-20">format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon class="icon-20">format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify">
        <mat-icon class="icon-20">format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #listsGroup="matButtonToggleGroup">
      <mat-button-toggle value="numbered">
        <mat-icon class="icon-20">format_list_numbered</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bulleted">
        <mat-icon class="icon-20">format_list_bulleted</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #undoGroup="matButtonToggleGroup">
      <mat-button-toggle value="undo">
        <mat-icon class="icon-20">undo</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="redo">
        <mat-icon class="icon-20">redo</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group class="flex-item toggle-group-margin" fxFlex="none" multiple
                            #otherGroup="matButtonToggleGroup">
      <mat-button-toggle value="link">
        <mat-icon class="icon-20">insert_link</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="quote">
        <mat-icon class="icon-20">format_quote</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="code">
        <mat-icon class="icon-20">code</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="insert_photo">
        <mat-icon class="icon-20">insert_photo</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-tab-group *ngIf="false" [selectedIndex]="selectedTab">

    <mat-tab label="Styles">
      <div class="margin">
        <mat-button-toggle-group class="flex-item" fxFlex="none" multiple #formatGroup="matButtonToggleGroup">
          <mat-button-toggle value="bold">
            <mat-icon class="icon-20">format_bold</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="italict">
            <mat-icon class="icon-20">format_italic</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="underline">
            <mat-icon class="icon-20">format_underline</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>

    <mat-tab label="Alignment">
      <div class="margin">
        <mat-button-toggle-group class="flex-item" fxFlex="none" #alignmentGroup="matButtonToggleGroup">
          <mat-button-toggle value="left">
            <mat-icon class="icon-20">format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="center">
            <mat-icon class="icon-20">format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="right">
            <mat-icon class="icon-20">format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="justify">
            <mat-icon class="icon-20">format_align_justify</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>

    <mat-tab label="Lists">
      <div class="margin">
        <mat-button-toggle-group class="flex-item" fxFlex="none" multiple #listsGroup="matButtonToggleGroup">
          <mat-button-toggle value="numbered">
            <mat-icon class="icon-20">format_list_numbered</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="bulleted">
            <mat-icon class="icon-20">format_list_bulleted</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group class="flex-item" fxFlex="none" multiple #undoGroup="matButtonToggleGroup">
          <mat-button-toggle value="undo">
            <mat-icon class="icon-20">undo</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="redo">
            <mat-icon class="icon-20">redo</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>

    <mat-tab label="Tools">
      <div class="margin">
        <mat-button-toggle-group class="flex-item" fxFlex="none" multiple #otherGroup="matButtonToggleGroup">
          <mat-button-toggle value="link">
            <mat-icon class="icon-20">insert_link</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="quote">
            <mat-icon class="icon-20">format_quote</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="code">
            <mat-icon class="icon-20">code</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="insert_photo">
            <mat-icon class="icon-20">insert_photo</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
