<div fxLayout="column">
    <div fxFlex="auto">
        <div fxFlexLayout="row" fxLayoutGap="20%">
            <mat-form-field fxFlex="auto">
                <input matInput placeholder="Contract Title" aria-label="Contract" [(ngModel)]="contract.title">
            </mat-form-field>
            <mat-form-field fxFlex="auto">
                <input matInput placeholder="Search contracts" aria-label="Contract" [matAutocomplete]="auto"
                       [formControl]="contractControl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let c of filteredContracts | async" [value]="c.title"
                               (onSelectionChange)="createContract(c)">
                        <span>{{ c.title }}</span> |
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <ideal-text-editor [(ngModel)]="contract.text"></ideal-text-editor>
    </div>
    <div *ngIf="showLastContract" fxFlex="auto" style="margin-top: 2%">
        <h3>Last contract:</h3>
        <div fxFlexLayout="row" fxLayoutGap="20%">
            <mat-form-field fxFlex="auto">
                <input matInput placeholder="Contract Title" aria-label="Contract" [(ngModel)]="lastContract.title">
            </mat-form-field>
        </div>
        <ideal-text-editor [(ngModel)]="lastContract.text"></ideal-text-editor>
    </div>
</div>
<div *ngIf="lastContract" align="right" style="margin: 10px">
    <mat-slide-toggle [checked]="showLastContract" (change)="toggleValueChanged()">
        {{toggleText}}
    </mat-slide-toggle>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">Continue</button>
    <button *ngIf="showLastContract" mat-raised-button color="primary" (click)="acceptContract()">Accept contract</button>
</mat-dialog-actions>
