<div>
  <ideal-announcement-list
    [announcementList]="announcementList"
    (openContent)="getContent($event)"
    (userSelected)="onUserSelected($event)"
    (ideaSelected)="onIdeaSelected($event)"
    (problemSelected)="onProblemSelected($event)"
    (ideaEdit)="onIdeaEdit($event)"
    (announce)="onAnnounce($event)"
    (ban)="onBan($event)"
    (remove)="onRemove($event)"
    (report)="onReport($event)"
    (sendTo)="onSendTo($event)"
    (share)="onShare($event)"></ideal-announcement-list>

</div>
<div *ngIf="noMoreResults" class="padding" style="text-align: center">
  <button md-raised-button disabled>No More Results</button>
</div>
