<mat-card>
    <mat-card-header>
        <img mat-card-avatar (click)="getSender()" [src]="notice?.originator | idealUserProfilePicture" />
        <mat-card-title>
            <strong idealColor="accent" (click)="getSender()">
                {{notice?.originator?.name}}
            </strong>
            sent you notice for
            <strong idealColor="accent" (click)="getIdea()">
                {{notice?.protocolSession?.digitalGoods?.getText()}}
            </strong>
        </mat-card-title>
        <mat-card-subtitle>{{notice?.creationDate | amTimeAgo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)="getContent()">
        <mat-card-title-group>
            <mat-card-title>{{notice?.protocolSession?.digitalGoods?.getText()}}</mat-card-title>
            <mat-card-subtitle>{{notice | protocolTransactionStepNoticeMessage}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <div fxLayout="row">
            <div fxFlex="none">
                <button mat-icon-button matTooltipPosition="above" *ngFor="let action of actions?.mainActions"
                        (click)="onAction(action)"
                        [idealColor]="action.color"
                        [matTooltip]="action.title">
                    <mat-icon class="icon-20">{{action.icon}}</mat-icon>
                </button>
            </div>
            <div fxFlex></div>
            <div fxFlex="none">
                <button [matMenuTriggerFor]="appMenu" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item *ngFor="let action of actions?.menuActions" (click)="onAction(action)"
                            [matTooltip]="action.description" matTooltipPosition="left">
                        <mat-icon class="icon-20">{{action.icon}}</mat-icon>
                        <span>{{action.title}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-card-actions>
    -->
</mat-card>
