<div>
  <label>{{title}}</label>
  <mat-form-field class="full-width">
  <textarea mat-input matInput rows="10" placeholder="Encrypted private key" [value]="encryptedPrivateKey"
            disabled style="font-family: 'Courier New', 'Lucida Console', 'Monospaced'"></textarea>
  </mat-form-field>
  <ideal-security-form-encryption-password buttonText="Decrypt"
                                           (passwordReady)="decrypt($event)"></ideal-security-form-encryption-password>
  <div class="margin">
    <mat-form-field *ngIf="decryptedPrivateKey" class="full-width">
  <textarea mat-input matInput rows="10" placeholder="Decrypted private key" [value]="decryptedPrivateKey"
            disabled style="font-family: 'Courier New', 'Lucida Console', 'Monospaced'"></textarea>
    </mat-form-field>
  </div>
</div>
