<form [formGroup]="form" (submit)="onOptionSelected()">
  <md-input-container style="width: 100%;">
    <input mdInput
           autocomplete="off"
           (focus)="onFocus()"
           [placeholder]="searchPlaceholder" [mdAutocomplete]="reactiveAuto"
           [formControl]="searchField">
    <md-hint align="start">{{hint}}</md-hint>
  </md-input-container>
  <md-autocomplete #reactiveAuto="mdAutocomplete">
    <md-option *ngFor="let keyword of keywordResults | async" [value]="keyword.phrase">
      <div>
        {{keyword.phrase}}
      </div>
    </md-option>
  </md-autocomplete>
</form>
