<form [formGroup]="form" (submit)="onOptionSelected()">
  <md-input-container class="full-width">
    <input mdInput autocomplete="off" [placeholder]="searchPlaceholder" [mdAutocomplete]="reactiveAuto"
           [formControl]="searchField">
  </md-input-container>
  <md-autocomplete #reactiveAuto="mdAutocomplete">
    <md-option *ngFor="let keyword of keywordResults" [value]="keyword.phrase">
      <div>
        <strong>{{keyword.phrase}}</strong> {{keyword.score}}
      </div>
    </md-option>
  </md-autocomplete>
</form>
