<ideal-user-details [user]="user"></ideal-user-details>
<mat-tab-group>
  <mat-tab label="Feed">
    <ideal-announcement-list-loader [ownerId]="user.id"></ideal-announcement-list-loader>
  </mat-tab>
  <mat-tab label="Ideas">
    <ideal-idea-list-loader [ownerId]="user.id"
                            (ideaOwnerSelected)="onUserSelected($event)"
                            (ideaProblemSelected)="onProblemSelected($event)"
                            (ideaSelected)="goToIdeaDetails($event)"
                            (announce)="announce($event)"
                            (sendTo)="sendTo($event)"
                            (share)="share($event)"
                            (edit)="edit($event)"
                            (report)="report($event)"
                            (ban)="ban($event)"></ideal-idea-list-loader>
  </mat-tab>
  <mat-tab label="Problems">
    <ideal-problem-list-loader [questionerId]="user.id"
                               (problemSelected)="onProblemSelected($event)"
                               (questionerOrganizationSelected)="onOrganizationSelected($event)"
                               (questionerUserSelected)="onUserSelected($event)"
                               (openContent)="onProblemSelected($event)"
                               (share)="share($event)"
                               (report)="report($event)"
                               (ban)="ban($event)"
                               (announce)="announce($event)"
                               (remove)="remove($event)"
                               (sendTo)="sendTo($event)"
                               (edit)="edit($event)"></ideal-problem-list-loader>
  </mat-tab>
  <mat-tab label="Organizations">

    <h1>Organizations</h1>
  </mat-tab>
  <mat-tab label="Security">
    <ideal-security-user-details></ideal-security-user-details>
  </mat-tab>
</mat-tab-group>
