<div style="text-align: center">
  <ideal-user-named-avatar [(ngModel)]="user"></ideal-user-named-avatar>
</div>
<div [formGroup]="form">
  <mat-input-container [dividerColor]="formErrors.password ? 'warn' : 'primary'" class="full-width" style="width: 100%">
    <input matInput type="password" formControlName="password"
           placeholder="Password" required/>
    <mat-hint *ngIf="formErrors.password" idealColor="warn" align="end">{{formErrors.password}}</mat-hint>
  </mat-input-container>
</div>
