<form [formGroup]="form" (ngSubmit)="login()">
  <ideal-user-password-fields [form]="fields" [user]="user" [submitted]="submitted"></ideal-user-password-fields>
  <div class="margin-top">
    <md-checkbox color="primary" formControlName="rememberMe">Remember me</md-checkbox>
  </div>
  <div class="margin-top">
    <button md-raised-button class="full-width" color="primary" type="submit">
      {{buttonText | uppercase }}
    </button>
  </div>
  <div class="margin-top" fxLayout="row" fxLayoutAlign="end">
    <a routerLink="help" idealColor="accent">Help?</a>
  </div>
</form>
