<md-card>
  <md-card-content>
    <form *ngIf="active" (ngSubmit)="solutionForm.form.valid && save()" #solutionForm="ngForm">
      <ideal-solution-fields name="solution" [showIdeaFields]="showIdeaFields" [showProblemFields]="showProblemFields"
                             [(ngModel)]="solution"></ideal-solution-fields>
      <div style="margin-top: 16px;" fxLayout="row" fxLayoutAlign="end">
        <button type="button" md-button (click)="clearForm()">Clear</button>
        <button type="submit" md-raised-button color="accent">{{submitText}}</button>
      </div>

    </form>
  </md-card-content>
</md-card>
