<div style="max-width: 500px" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <span class="ideal-body-2">Keywords</span>
    </div>
    <div>
      <md-chip-list>
        <md-chip style="opacity: 0.65;" color="primary" [selected]="true">
          Covered
        </md-chip>
        <md-chip style="opacity: 0.65;">
          Not Covered
        </md-chip>
      </md-chip-list>
    </div>
  </div>
  <md-chip-list>
    <md-chip style="margin-top: 5px" *ngFor="let keywordSelection of keywordSelections"
             [selected]="keywordSelection?.selected" color="primary" [md-tooltip]="keywordSelection?.keyword?.score?.toString()">
      {{keywordSelection?.keyword?.phrase}}
    </md-chip>
  </md-chip-list>
</div>
