<div style="max-width: 500px" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <span class="ideal-body-2">Keywords</span>
    </div>
    <div>
      <mat-chip-list>
        <mat-chip style="opacity: 0.65;" color="primary" [selected]="true">
          Covered
        </mat-chip>
        <mat-chip style="opacity: 0.65;">
          Not Covered
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-chip-list>
    <mat-chip style="margin-top: 5px" *ngFor="let keywordSelection of keywordSelections"
             [selected]="keywordSelection?.selected" color="primary" [matTooltip]="keywordSelection?.keyword?.score?.toString()">
      {{keywordSelection?.keyword?.phrase}}
    </mat-chip>
  </mat-chip-list>
</div>
