<div [ngSwitch]="notice?.type">
    <div *ngSwitchCase="protocolTransactionStepOneNoticeType">
        <ideal-protocol-transaction-step-notice-card [notice]="notice"></ideal-protocol-transaction-step-notice-card>
    </div>
    <div *ngSwitchCase="protocolTransactionStepTwoNoticeType">
        <ideal-protocol-transaction-step-notice-card [notice]="notice"></ideal-protocol-transaction-step-notice-card>
    </div>
    <div *ngSwitchCase="protocolTransactionStepThreeNoticeType">
        <ideal-protocol-transaction-step-notice-card [notice]="notice"></ideal-protocol-transaction-step-notice-card>
    </div>
    <div *ngSwitchCase="packageNoticeType">
        <ideal-new-package-notice-card [notice]="notice"></ideal-new-package-notice-card>
    </div>
    {{notice.type}}
</div>