<ideal-doc>
  <ideal-doc-header>
    <ideal-doc-title>iDeal</ideal-doc-title>
    <ideal-doc-subtitle>World full of ideas and ideal deals.</ideal-doc-subtitle>
    <ideal-doc-text-text-figure-layout>
      <ideal-text class="first">
        <p>
          <strong>The idea</strong> is the main concept of this system.
        </p>
        <p>
          <strong>Making deals</strong> is what this system is all about.
        </p>
        <p>
          You can be either <strong>buyer</strong> or <strong>seller</strong>. That means, you can offer your ideas
          for sell or you can buy idea from other users of the iDeal community. This is done by protocol for making
          deals which is secure.
        </p>
        <p>
          Of course there are many other things that you can do with iDeal:
        </p>
        <ul>
          <li>Keep your ideas secure and accessible</li>
          <li>Find incubators for your ideas</li>
          <li>Keep track of your problems</li>
          <li>Share your ideas and problems</li>
          <li>Search for ideas, problems, users, organizations ...</li>
          <li>Solve problems from outer users</li>
          <li>Create organizations</li>
          <li>Invite people and structure your organization</li>
        </ul>
      </ideal-text>
      <ideal-text class="second">
        <h3><strong>New Idea</strong></h3>
        <p>New idea structured form which helps you to organize and evaluate your idea</p>

        <h3><strong>New Problem</strong></h3>
        <p>New problem structured form which helps you write your problem</p>

        <h3><strong>Feed</strong></h3>
        <p>Feed which can be searched</p>

        <h3><strong>Deal Protocol</strong></h3>
        <p>Secure protocol for making deals</p>

        <h3><strong>Idea Analyzer</strong></h3>
        <p>Problem quality<br>
          Snack peak quality</p>
      </ideal-text>
      <ideal-figure>
        <ideal-smoot-image-widget alt="" style="width: 100%; height: auto;"
             idealSrc="/assets/images/logo.png"></ideal-smoot-image-widget>
      </ideal-figure>
    </ideal-doc-text-text-figure-layout>
  </ideal-doc-header>
  <ideal-doc-content>
    <ideal-doc-section title="Security" id="ideal_security">
      <ideal-doc-text-figure-layout>
        <ideal-text>
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
        </ideal-text>
        <ideal-figure>
          <ideal-smoot-image-widget idealSrc="/assets/images/new-idea.png" style="width: 100%"></ideal-smoot-image-widget>
        </ideal-figure>
      </ideal-doc-text-figure-layout>
    </ideal-doc-section>
    <ideal-doc-section title="Analyzers" id="ideal_analyzers">
      <ideal-doc-text-figure-layout>
        <ideal-text>
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
        </ideal-text>
        <ideal-figure>
          <ideal-smoot-image-widget idealSrc="/assets/images/new-problem.png" style="width: 100%"></ideal-smoot-image-widget>
        </ideal-figure>
      </ideal-doc-text-figure-layout>
    </ideal-doc-section>
    <ideal-doc-section title="Data" id="ideal_data">
      <ideal-doc-text-figure-layout>
        <ideal-text>
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
          Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum
        </ideal-text>
        <ideal-figure>
          <ideal-smoot-image-widget idealSrc="/assets/images/grow-idea.png" style="width: 100%"></ideal-smoot-image-widget>
        </ideal-figure>
      </ideal-doc-text-figure-layout>
    </ideal-doc-section>
  </ideal-doc-content>
</ideal-doc>
