.ideal-text-editor-toolbar {
  width: 100%;
  background: purple;
}

.noTabPanel md-tab-header {
  display: none !important;
}

md-tab-group.toolbarTabs {
  margin-bottom: -15px;
}


.toggle-group-margin {
  margin: 5px;
}

.idea-padding {
  padding: 5px;
}
