<md-toolbar color="primary">
  <span>{{title}}</span>
  <md-toolbar-row>
    <button type="button" md-icon-button>
      <md-icon>format_bold</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_italic</md-icon>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" md-icon-button>
      <md-icon>insert_link</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_quote</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>code</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>insert_photo</md-icon>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" md-icon-button>
      <md-icon>format_list_numbered</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_list_bulleted</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_align_center</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_align_justify</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_align_left</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>format_align_right</md-icon>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" md-icon-button>
      <md-icon>undo</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>redo</md-icon>
    </button>
  </md-toolbar-row>
</md-toolbar>
