.fill-page {
  min-height: 100vh;
  background-image: url("assets/images/auth-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
