<div [formGroup]="form">
  <ideal-idea-fields formGroupName="ideaFields" *ngIf="showIdeaFields" [showProblemFields]="showProblemFields" name="solutionIdea"
                     [titleLabel]="ideaTitleLabel" [sneakPeakLabel]="ideaSnackPeakLabel"
                     [problemTitleLabel]="problemTitleLabel" [problemBodyLabel]="problemBodyLabel"
                     [problemTagsLabel]="problemTagsLabel" [idea]="solution?.idea" [form]="ideaFields"
                     [submitted]="_submitted"
                     [text]="solution.text"
                     (contentChanged)="onContentChanged()"></ideal-idea-fields>
  <div class="margin-top">
    <div [froalaEditor]="options" formControlName="text"></div>
  </div>
  <div class="padding-top">
    <span class="ideal-subheading">Solution Quality </span>
    <button md-icon-button type="button" [disabled]="!contentChanged" [md-tooltip]="'Refresh to get most recent analysis'"
            (click)="getSolutionQuality()">
      <md-icon>refresh</md-icon>
    </button>
    <div>
      <ideal-solution-quality formControlName="awards"
                              [solutionQuality]="solutionQuality"></ideal-solution-quality>
    </div>
    <div style="text-align: end" class="ideal-caption">Awards will be private unless you want to share them with
      potential buyers. <a routerLink="/awards" idealColor="accent" target="_blank">More details</a></div>
  </div>
</div>
