<ideal-agent-search
  [clearAfterSelect]="true"
  [searchPlaceholder]="searchPlaceholder"
  (agentSelected)="onAgentSelected($event)">

</ideal-agent-search>
<mat-chip-list>
  <div *ngFor="let agent of agents; let i = index" [class]="getClass(agent)">
    <mat-chip
      color="primary"
      selected="true"
      [matTooltip]="agent.email">
      {{getName(agent)}}
      <button type="button" (click)="remove(agent, i)" mat-icon-button class="chip-button">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-chip>
  </div>
</mat-chip-list>
