<div style="text-align: center">
  <ideal-user-named-avatar name="userProfilePicture" [type]="userAvatarType"
                           [(ngModel)]="user"></ideal-user-named-avatar>
</div>
<div [formGroup]="form">
  <div>
    <mat-form-field [color]="formErrors.firstName ? 'warn' : 'primary'" class="full-width">
      <input mat-input matInput formControlName="firstName" placeholder="First Name" required/>
      <mat-hint *ngIf="formErrors.firstName" align="end" idealColor="warn">{{formErrors.firstName}}</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field [color]="formErrors.lastName ? 'warn' : 'primary'" class="full-width">
      <input type="text" mat-input matInput formControlName="lastName" placeholder="Last Name" required/>
      <mat-hint *ngIf="formErrors.lastName" align="end" idealColor="warn">{{formErrors.lastName}}</mat-hint>
    </mat-form-field>
  </div>
  <div formGroupName="passwords">
    <div>
      <mat-form-field [color]="formErrors['passwords.password'] ? 'warn' : 'primary'" class="full-width">
        <input (focus)="showPasswordStrength()" (blur)="hidePasswordStrength()" mat-input matInput type="password"
               formControlName="password"
               placeholder="Password"
               matTooltip="For strong password use at least 1 (big/small/special) character, and 1 number" required/>
        <mat-hint align="end" idealColor="warn" *ngIf="formErrors['passwords.password']">
          {{formErrors['passwords.password']}}
        </mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="passwordStrengthVisible" class="margin-top margin-bottom">
      <mat-progress-bar
        [matTooltip]="'Password strength: ' + passwordStrength"
        [color]="passwordStrengthColor"
        [value]="passwordStrengthProgress">
      </mat-progress-bar>
    </div>
    <div>
      <mat-form-field [color]="formErrors.passwords ? 'warn' : 'primary'" class="full-width">
        <input mat-input matInput type="password" formControlName="confirmPassword"
               placeholder="Confirm Password" required/>
        <mat-hint align="end" idealColor="warn" *ngIf="formErrors.passwords">{{formErrors.passwords}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div [ngClass]="{'error-theme': formErrors.country}">
    <mat-form-field class="full-width">
      <input type="text" matInput hidden="true"/>
      <mat-select color="primary" placeholder="Country" formControlName="country" class="full-width" required>
        <mat-option *ngFor="let country of countries" [value]="country">
          {{country}}
        </mat-option>
      </mat-select>
      <mat-hint align="end" idealColor="warn" *ngIf="formErrors.country">{{formErrors.country}}</mat-hint>
    </mat-form-field>
  </div>

</div>
