<form [formGroup]="form">
  <mat-form-field class="full-width">
    <input matInput autocomplete="off" [placeholder]="searchPlaceholder" [matAutocomplete]="reactiveAuto"
           [formControl]="searchField">
  </mat-form-field>
  <mat-autocomplete #reactiveAuto="matAutocomplete">
    <mat-option (click)="onOptionSelected(agent)" *ngFor="let agent of agents" [value]="getValue(agent)">
      <div>
        <ideal-agent-list-item [agent]="agent"></ideal-agent-list-item>
      </div>
    </mat-option>
  </mat-autocomplete>
</form>
