<md-card>
  <md-card-header>
    <img (click)="getOwner()" [src]="idea?.owner | idealUserProfilePicture" md-card-avatar/>
    <md-card-title>
      <strong idealColor="accent" (click)="getOwner()">
        {{idea?.owner?.firstName}} {{idea?.owner?.lastName}}
      </strong>
      created idea which solves
      <strong idealColor="accent" (click)="getProblem()">
        {{idea?.problem?.title}}
      </strong>
    </md-card-title>
    <md-card-subtitle>{{idea?.creationDate | amTimeAgo}}</md-card-subtitle>
  </md-card-header>
  <md-card-content (click)="getContent()">
    <md-card-title-group>
      <md-card-title>{{idea?.title}}</md-card-title>
      <md-card-subtitle>{{idea?.snackPeak}}</md-card-subtitle>

    </md-card-title-group>
  </md-card-content>
  <md-card-actions>
    <div fxLayout="row">
      <div fxFlex="none">
        <button md-icon-button *ngFor="let action of actions?.mainActions" (click)="onAction(action)" [idealColor]="action.color"
                [mdTooltip]="action.title">
          <md-icon class="icon-20">{{action.icon}}</md-icon>
        </button>
      </div>
      <div fxFlex></div>
      <div fxFlex="none">
        <button [mdMenuTriggerFor]="appMenu" md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #appMenu="mdMenu">
          <button md-menu-item *ngFor="let action of actions?.menuActions" (click)="onAction(action)"
                  [mdTooltip]="action.description" mdTooltipPosition="left">
            <md-icon class="icon-20">{{action.icon}}</md-icon>
            <span>{{action.title}}</span>
          </button>
        </md-menu>
      </div>
    </div>
  </md-card-actions>
</md-card>
