<div style="text-align: center">
  <ideal-user-named-avatar [(ngModel)]="user"></ideal-user-named-avatar>
</div>
<div *ngIf="currentForm" [formGroup]="currentForm">
  <mat-form-field [color]="formErrors.email ? 'warn' : 'primary'" class="full-width">
    <input matInput type="text" placeholder="Email" matTooltip="Email format: username@provider"
           formControlName="email" required/>
    <mat-hint align="end" *ngIf="formErrors.email" idealColor="warn">{{formErrors.email}}</mat-hint>
  </mat-form-field>
</div>
