<md-grid-list gutterSize="0" [cols]="numOfColumns" (window:resize)="onResize($event)">
  <md-grid-tile *ngFor="let category of categories" [rowspan]="category.image.rowSpan" [colspan]="category.image.colSpan">
    <ideal-smoot-image-widget class="fit-image" [idealSrc]="category.image.src"></ideal-smoot-image-widget>
    <md-grid-tile-footer>
      <h3 md-line>{{category.title}}</h3>
      <span md-line>{{category.description}}</span>
      <button [routerLink]="category.url" md-icon-button>
        <md-icon>forward</md-icon>
      </button>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
