<div [ngSwitch]="state">
  <mat-toolbar *ngSwitchCase="defaultState" class="mat-elevation-z4" color="primary">
    <button #sidenavbutton mat-icon-button (click)="onSideNavToggle()">
      <label ideal-circle-label color="accent" [text]="numberOfNotifications" *ngIf="numberOfNotifications !== 0"
             ideal-badge position="bottom-right">
      </label>
      <mat-icon class="mat-toolbar-icon">menu</mat-icon>
    </button>
    <a mat-button routerLink="/home"><span>IDEAL</span></a>
    <span class="flex"></span>

    <button mat-icon-button (click)="setSearchState()">
      <mat-icon class="mat-toolbar-icon">search</mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar *ngSwitchCase="searchState" class="mat-elevation-z4" color="primary">
    <button #sidenavbutton mat-icon-button (click)="setDefaultState()">
      <mat-icon class="sd-toolbar-icon">arrow_back</mat-icon>
    </button>
    <div fxLayout="row" style="width: 100%">
      <ideal-search fxFlex="auto" fxFlexOffset="0" fxFlex.xl="40%" fxFlexOffset.xl="30%"
                    fxFlex.lg="50%" fxFlexOffset.lg="25%" fxFlex.md="60%" fxFlexOffset.md="20%" fxFlex.sm="80%" fxFlexOffset.sm="10%" fxFlex.xs="95%" fxFlexOffset.xs="5%" (searchSubmit)="onSearchSubmit($event)">
      </ideal-search>
    </div>
  </mat-toolbar>
</div>
