.notification {
  border-radius: 50%;
  background: red;
  width: 15px;
  height: 15px;
  font-size: 0.5em;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  margin-bottom: -18px;
  margin-left: -18px;
  padding-top: 2px;
  z-index: 1000;
}