<div [ngSwitch]="state">
  <md-toolbar *ngSwitchCase="defaultState" class="md-elevation-z4" color="primary">
    <button #sidenavbutton md-icon-button (click)="onSideNavToggle()">
      <label ideal-circle-label color="accent" [text]="numberOfNotifications" *ngIf="numberOfNotifications !== 0"
             ideal-badge position="bottom-right">
      </label>
      <md-icon class="md-toolbar-icon">menu</md-icon>
    </button>
    <a md-button routerLink="/home"><span>IDEAL</span></a>
    <span class="flex"></span>

    <button md-icon-button (click)="setSearchState()">
      <md-icon class="md-toolbar-icon">search</md-icon>
    </button>
  </md-toolbar>
  <md-toolbar *ngSwitchCase="searchState" class="md-elevation-z4" color="primary">
    <button #sidenavbutton md-icon-button (click)="setDefaultState()">
      <md-icon class="sd-toolbar-icon">arrow_back</md-icon>
    </button>
    <div fxLayout="row" style="width: 100%">
      <ideal-search fxFlex="auto" fxFlexOffset="0" fxFlex.xl="40%" fxFlexOffset.xl="30%"
                    fxFlex.lg="50%" fxFlexOffset.lg="25%" fxFlex.md="60%" fxFlexOffset.md="20%" fxFlex.sm="80%" fxFlexOffset.sm="10%" fxFlex.xs="95%" fxFlexOffset.xs="5%" (searchSubmit)="onSearchSubmit($event)">
      </ideal-search>
    </div>
  </md-toolbar>
</div>
