<ideal-problem-fields *ngIf="showProblemFields" [titleLabel]="problemTitleLabel" [bodyLabel]="problemBodyLabel" [tagsLabel]="problemTagsLabel" name="ideaProblem" [(ngModel)]="idea.problem" (ngModelChange)="onChange()"></ideal-problem-fields>
<hr/>
<label><strong>{{titleLabel}}</strong></label>&nbsp;
<md-input name="ideaTitle" [(ngModel)]="idea.title" (ngModelChange)="onChange()" placeholder="Idea Title"></md-input><br/>
<label><strong>{{sneakPeakLabel}}:</strong></label><br/>
<md-textarea placeholder="Describe the idea and give a hint to potential buyer" class="fullWidth marginBottom"
             name="ideaSnackPeak" [(ngModel)]="idea.snackPeak" (ngModelChange)="onChange()"></md-textarea>
