.ideal-text-editor-body {
  width: 100%;
}

.ideal-height-150 {
  min-height: 150px !important;
}

md-card.ideal-text-editor-card {
  padding: 0px !important;
}

md-card.ideal-text-editor-card md-card-content {
  padding: 16px !important;
  padding-top: 0px !important;
}

textarea {
  resize: none;
}
