.flex-25 {
  flex: 25%;
}

.flex-50 {
  flex: 50%;
}

.auth-container {
  display: flex;
  height: 100vh;
  background-image: url("assets/images/auth-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.middle-vertical {
  margin-top: auto;
  margin-bottom: auto;
}
