/**
 * Created by AKuzmanoski on 15/12/2016.
 */

@import '~@angular/material/core/theming/theming';
@mixin main_mixin($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .primary {
    color: md-color($primary);
  }
  .accent {
    color: md-color($accent);
  }
  .warn {
    color: md-color($warn);
  }
}

@mixin ideal-app-theme($theme) {
  @include main_mixin($theme);
}
