@import 'ideal-app.theme.scss';

/* Reset */
html,
body {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.flex {
  flex: 1 1 auto;
}

md-card-header, .md-card-header-text {
  height: auto !important;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

.full-width {
  width: 100%;
}

.margin {
  margin: 10px !important;
}

@media only screen and (max-width : 480px) {
  .margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}


.margin-left {
  margin-top: 10px;
}

.margin-right {
  margin-top: 10px;
}

.padding {
  padding: 16px !important;
}

.padding-top {
  padding-top: 16px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.padding-left {
  padding-left: 16px;
}

.padding-right {
  padding-right: 16px;
}


.icon-20 {
  font-size: 20px;
  opacity: 0.70;
}
