<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="ready()">
      <ideal-price-request-phase-fields [form]="fields" [submitted]="submitted" [data]="data"
                                        [currentPrice]="currentPrice" [lastPrice]="lastPrice"></ideal-price-request-phase-fields>
      <div fxLayout="row" fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="accent" class="margin">Enter</button>
        <span *ngIf="currentPrice" class="margin">OR</span>
        <button *ngIf="currentPrice" type="button" mat-raised-button color="accent" class="margin" (click)="readyAccept()">Accept price</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
