<md-card>
  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="ready()">
      <ideal-price-request-phase-fields [form]="fields" [submitted]="submitted" [data]="data"
                                        [currentPrice]="currentPrice" [lastPrice]="lastPrice"></ideal-price-request-phase-fields>
      <div fxLayout="row" fxLayoutAlign="end">
        <button type="submit" md-raised-button color="accent">Enter</button>
        <button *ngIf="" type="button" md-raised-button colors="accent" (click)="readyAccept()">Accept price</button>
      </div>
    </form>
  </md-card-content>
</md-card>
