<div novalidate [formGroup]="form" fxLayout="column">
  <div fxLayout.xs="column" fxLayout="row">
    <md-input-container color="primary" fxFlex="60%" fxFlex.xs="100%">
      <input mdInput formControlName="title" [placeholder]="titleLabel" required/>
      <md-error *ngIf="formErrors.title == 'required'" align="start">{{validationMessages.title.required}}</md-error>
    </md-input-container>
    <div fxFlex="35%" fxFlex.xs="100%" fxFlexOffset="5%" fxFlexOffset.xs="0">
      <ideal-keyword-selector (inputFocused)="getKeywords()" class="full-width"
                              formControlName="keywords" [suggestedKeywords]="keywords"
                              searchPlaceholder="Problem keywords"
      hint="Write down your problem first to get keyword recommendations"></ideal-keyword-selector>
    </div>
  </div>
  <div class="margin-top">
    <textarea [froalaEditor]="options" formControlName="text"></textarea>
  </div>
</div>
