<div *ngFor="let idea of ideas; let i = index;" [@loading]="status[i]" class="margin">
  <ideal-idea-card [idea]="idea" (ideaSelected)="onIdeaSelected(idea)"
                   (ideaOwnerSelected)="onIdeaOwnerSelected(idea.owner)"
                   (ideaProblemSelected)="onIdeaProblemSelected(idea.problem)"
                   (announce)="onAnnounce($event)"
                   (sendTo)="onSendTo($event)"
                   (share)="onShare($event)"
                   (edit)="onEdit($event)"
                   (remove)="onRemove($event)"
                   (report)="onReport($event)"
                   (ban)="onBan($event)">
  </ideal-idea-card>
</div>
