<h3 mat-dialog-title>Please enter your card information in order to proceed</h3>
<div fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput placeholder="Card number" [(ngModel)]="cardInformation.cardNumber">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="Card type" [(ngModel)]="cardInformation.cardType">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="Expire month" [(ngModel)]="cardInformation.expireMonth">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="Expire year" [(ngModel)]="cardInformation.expireYear">
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">Enter</button>
</mat-dialog-actions>
