<div fxLayout="row">
    <md-card fxLayoutAlign="center" fxLayout="column">
        <h3 class="ideal-headline" fxLayoutAlign="center">
            Dear {{user.firstName}},
        </h3>
        <div class="ideal-subheading" fxLayoutAlign="justified">
            To activate your account, please check your email.
        </div>
    </md-card>
    <div class="to-right">
        <ideal-smoot-image-widget class="fit-image" fxLayoutAlign="right"
                                  idealSrc="http://www.freeiconspng.com/uploads/welcome-png-images-16.png">

        </ideal-smoot-image-widget>
    </div>
</div>


