<div [ngSwitch]="sharable?.type">
  <ideal-idea-card
    *ngSwitchCase="ideaType"
    [idea]="sharable"
    (openContent)="getContent()"
    (ideaOwnerSelected)="onUserSelected($event)"
    (ideaSelected)="onIdeaSelected($event)"
    (ideaProblemSelected)="onProblemSelected($event)"
    (announce)="onAnnounce($event)"
    (ban)="onBan($event)"
    (edit)="onIdeaEdit($event)"
    (remove)="onRemove($event)"
    (report)="onReport($event)"
    (sendTo)="onSendTo($event)"
    (share)="onShare($event)"></ideal-idea-card>
  <ideal-problem-card
    *ngSwitchCase="problemType" [problem]="sharable"
    (openContent)="getContent()"
    (announce)="onAnnounce($event)"
    (sendTo)="onSendTo($event)"
    (remove)="onRemove($event)"
    (problemSelected)="onProblemSelected($event)"
    (ban)="onBan($event)"
    (questionerSelected)="onUserSelected($event)"
    (report)="onReport($event)"
    (share)="onShare($event)"></ideal-problem-card>
</div>
