@import '~@angular/material/theming';

@import "ideal-app-themes";
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$ideal-app-primary: mat-palette($mat-light-blue);
$ideal-app-accent: mat-palette($mat-yellow);

// The warn palette is optional (defaults to red).
$ideal-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ideal-app-theme: mat-light-theme($ideal-app-primary, $ideal-app-accent, $ideal-app-warn);

// Include theme styles for core and each components used in your app.
// Alternatively, you can import and @include the theme mixins for each components
// that you are using.
@include angular-material-theme($ideal-app-theme);
@include ideal-app-theme($ideal-app-theme);

.idea-theme {
  $ideal-idea-primary: mat-palette($mat-deep-orange);
  $ideal-idea-accent: mat-palette($mat-yellow);
  $ideal-idea-warn: mat-palette($mat-red);

  $ideal-idea-theme: mat-light-theme($ideal-idea-primary, $ideal-idea-accent, $ideal-idea-warn);

  @include angular-material-theme($ideal-idea-theme);
  @include ideal-app-theme($ideal-idea-theme);
}

.notice-theme {
  $ideal-notice-primary: mat-palette($mat-blue-grey);
  $ideal-notice-accent: mat-palette($mat-pink);
  $ideal-notice-warn: mat-palette($mat-red);

  $ideal-notice-theme: mat-light-theme($ideal-notice-primary, $ideal-notice-accent, $ideal-notice-warn);

  @include angular-material-theme($ideal-notice-theme);
  @include ideal-app-theme($ideal-notice-theme);
}

.problem-theme {
  $ideal-problem-primary: mat-palette($mat-purple, 500, 700, 800);
  $ideal-problem-accent: mat-palette($mat-green, A200);
  $ideal-problem-warn: mat-palette($mat-red);

  $ideal-problem-theme: mat-light-theme($ideal-problem-primary, $ideal-problem-accent, $ideal-problem-warn);

  @include angular-material-theme($ideal-problem-theme);
  @include ideal-app-theme($ideal-problem-theme);
}

.user-theme {
  $ideal-user-primary: mat-palette($mat-green);
  $ideal-user-accent: mat-palette($mat-orange);
  $ideal-user-warn: mat-palette($mat-red);

  $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

  @include angular-material-theme($ideal-user-theme);
  @include ideal-app-theme($ideal-user-theme);
}

.transaction-theme {
  $ideal-transaction-primary: mat-palette($mat-deep-purple);
  $ideal-transaction-accent: mat-palette($mat-deep-orange);
  $ideal-transaction-warn: mat-palette($mat-red);

  $ideal-transaction-theme: mat-light-theme($ideal-transaction-primary, $ideal-transaction-accent, $ideal-transaction-warn);

  @include angular-material-theme($ideal-transaction-theme);
  @include ideal-app-theme($ideal-transaction-theme);
}

$ideal-white: (
  0: #ffffff,
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  1000: #000000,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    0: $white-87-opacity,
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $white-87-opacity,
  )
);

.text-editor-tabs-theme {
  $ideal-text-editor-tabs-primary: mat-palette($ideal-white);
  $ideal-text-editor-tabs-accent: mat-palette($mat-yellow);
  $ideal-text-editor-tabs-warn: mat-palette($mat-red);

  $ideal-text-editor-tabs-theme: mat-light-theme($ideal-text-editor-tabs-primary, $ideal-text-editor-tabs-accent, $ideal-text-editor-tabs-warn);

  @include angular-material-theme($ideal-text-editor-tabs-theme);
  @include ideal-app-theme($ideal-text-editor-tabs-theme);
}

.error-theme {
  $ideal-error-primary: mat-palette($mat-red);
  $ideal-error-accent: mat-palette($mat-red);
  $ideal-error-warn: mat-palette($mat-red);

  $ideal-error-theme: mat-light-theme($ideal-error-primary, $ideal-error-accent, $ideal-error-warn);

  @include angular-material-theme($ideal-error-theme);
  @include ideal-app-theme($ideal-error-theme);
}

.success-theme {
  $ideal-primary: mat-palette($mat-green);
  $ideal-accent: mat-palette($mat-green);
  $ideal-warn: mat-palette($mat-red);

  $ideal-theme: mat-light-theme($ideal-primary, $ideal-accent, $ideal-warn);

  @include angular-material-theme($ideal-theme);
  @include ideal-app-theme($ideal-theme);
}

.warning-theme {
  $ideal-primary: mat-palette($mat-yellow);
  $ideal-accent: mat-palette($mat-yellow);
  $ideal-warn: mat-palette($mat-red);

  $ideal-theme: mat-light-theme($ideal-primary, $ideal-accent, $ideal-warn);

  @include angular-material-theme($ideal-theme);
  @include ideal-app-theme($ideal-theme);
}
