@import 'ideal-app.theme.scss';

/* Reset */
html,
body {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.icon-middle {
  transform: translateY(5px);
}

md-sidenav {
  width: 280px !important;
}

.flex {
  flex: 1 1 auto;
}

.chip-button {
  margin-top: -8px !important;
  margin-right: -12px !important;
  margin-bottom: -8px !important;
}

.mat-autocomplete-panel {
  max-width: none !important;
}

.mat-autocomplete-panel md-option {
  height: auto !important;
}

md-card-header, .mat-card-header-text {
  height: auto !important;
}

/* Box-sizing border-box */

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-width {
  width: 100%;
}

.margin {
  margin: 10px !important;
}

@media only screen and (max-width: 480px) {
  .margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-top: 10px;
}

.margin-right {
  margin-top: 10px;
}

.padding {
  padding: 16px !important;
}

.padding-top {
  padding-top: 16px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.padding-left {
  padding-left: 16px;
}

.padding-right {
  padding-right: 16px;
}

.icon-20 {
  font-size: 20px;
  opacity: 0.70;
}

.icon-44 {
  width: 44px !important;
  height: 44px !important;
}

.ideal-display-1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 34px;
  line-height: 40px;
  font-weight: normal;
}

.ideal-display-2 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 45px;
  line-height: 48px;
  font-weight: normal;
  padding-left: 10px;
}

.ideal-display-3 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 56px;
  line-height: 60px;
  font-weight: normal;
  padding-left: 15px;
}

.ideal-display-4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 112px;
  line-height: 120px;
  font-weight: lighter;
  padding-left: 20px;
}

.ideal-headline {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  line-height: 32px;
  font-weight: lighter;
}

.ideal-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 5px;
}

.line-break {
  white-space: pre-line;
}

.line-break:first-line {
  line-height: 0px;
}

.ideal-subheading {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

.ideal-body-2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.ideal-body-1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.ideal-caption {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.ideal-badge {
  position: absolute !important;
  z-index: 1000 !important;
}

.ideal-badge-left {
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.ideal-badge-right {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ideal-badge-top {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ideal-badge-bottom {
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.ideal-badge-top-left {
  top: 0;
  left: 0;
}

.ideal-badge-top-right {
  top: 0;
  right: 0;
}

.ideal-badge-bottom-left {
  bottom: 0;
  left: 0;
}

.ideal-badge-bottom-right {
  bottom: -5px;
  right: -5px;
}

// TODO remove this commands when specification will be implemented

md-dialog-content, [md-dialog-content] {
  min-height: 38px;
}

md-dialog-actions, [md-dialog-actions] {
  margin-right: -16px !important;
}

.fr-toolbar {
  border-top: none !important;
}

div.__web-inspector-hide-shortcut__ {
  display: none !important;
  visibility: hidden !important;
  z-index: -1 !important;
}


a[href$='https://www.froala.com/wysiwyg-editor?k=u'] {
  display: none !important;
  visibility: hidden !important;
  z-index: -1 !important;
}
