<mat-card>
  <mat-card-content>
    <form novalidate [formGroup]="form" (ngSubmit)="save()">
      <ideal-problem-fields [problem]="problem" [form]="fields" [submitted]="submitted"></ideal-problem-fields>
      <div style="margin-top: 16px" fxLayout="row" fxLayoutAlign="end">
        <button type="button" mat-button (click)="clearForm()">{{"Clear" | uppercase}}</button>
        <button type="submit" mat-raised-button color="accent">{{submitText | uppercase}}</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
