<md-card>
  <md-card-content>
    <form novalidate [formGroup]="form" *ngIf="active" (ngSubmit)="save()">
      <ideal-problem-fields [problem]="problem" [form]="fields" [submitted]="submitted"></ideal-problem-fields>
      <div style="margin-top: 16px" fxLayout="row" fxLayoutAlign="end">
        <button type="button" md-button (click)="clearForm()">Clear</button>
        <button type="submit" md-raised-button color="accent">{{submitText}}</button>
      </div>
    </form>

  </md-card-content>
</md-card>
