<form (ngSubmit)="enter()">
    <ideal-security-fields-encryption-password [form]="fields" [password]="password" [submitted]="submitted"
                                               (passwordReady)="onPasswordChange($event)">

    </ideal-security-fields-encryption-password>
    <div class="padding-top padding-bottom" style="text-align: right">
        <button color="primary" type="submit" mat-raised-button matTooltip="Do not lose this password">
            {{buttonText | uppercase}}
        </button>
    </div>
</form>
